@charset "UTF-8";
*,
::before,
::after {
  padding: 0;
  margin: 0;
  /*在移动端的设置*/
  /*清除点击高亮效果*/
  -webkit-tap-highlight-color: transparent;
  /*设置盒子宽度从边框计算*/
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-appearance: none;
}
ul, ol, li {
  list-style: none;
}
img:not([src]) {
  opacity: 0;
}
@font-face {
  font-family: 'custFont';
  src: url("../font/custFont.ttf");
  font-weight: normal;
  font-style: normal;
}
// rem 单位换算：定为 75px 只是方便运算，750px-75px、640-64px、1080px-108px，如此类推
$vm_fontsize: 75; // iPhone 6尺寸的根元素大小基准值
@function rem($px) {
  @return ($px / $vm_fontsize ) * 1rem;
}
// 根元素大小使用 vw 单位
$vm_design: 750;
html {
  font-size: ($vm_fontsize / ($vm_design / 2)) * 100vw; 
  // 同时，通过Media Queries 限制根元素最大最小值
  @media screen and (max-width: 320px) {
    font-size: 64px;
  }
  @media screen and (min-width: 540px) {
    font-size: 108px;
  }
}
// body 也增加最大最小宽度限制，避免默认100%宽度的 block 元素跟随 body 而过大过小
body {
  height: 100vh;
  max-width: 540px;
  min-width: 320px;
  overflow: hidden;
}
[hidden] {
  display: none;
}
/* animate.css */
@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(-1000px, -480px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(25px, 20px, 0);
  }
  75% {
    transform: translate3d(-10px, -4px, 0);
  }
  90% {
    transform: translate3d(5px, 2px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  } 
}
@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(1000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    transform: translate3d(10px, 0, 0);
  }
  90% {
    transform: translate3d(-5px, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  } 
}
@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }
  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  to {
    transform: scale3d(1, 1, 1);
  } 
}
/* 公共类 */
.bounceInLeft {
  animation: bounceInLeft .8s both;
}
.bounceInRight {
  animation: bounceInRight .8s both;
}
.tada {
  animation: tada .8s both infinite;
}
/* 背景 */
@keyframes box_shake {
  10%, 30%, 50%, 70%, 90% {
    transform: translate(0, 3px) scale(1.02);
  }
  20%, 40%, 60%, 80% {
    transform: translate(0, -3px) scale(0.98);
  }
}
@keyframes box_shake2 {
  10%, 30%, 50%, 70%, 90% {
    transform: translate(0, 8px) scale(1.02);
  }
  20%, 40%, 60%, 80% {
    transform: translate(0, -8px) scale(0.98);
  }
}
@keyframes box_shake3 {
  10%, 30%, 50%, 70%, 90% {
    transform: translate(0, 8px) scale(1.05);
  }
  20%, 40%, 60%, 80% {
    transform: translate(0, -8px) scale(0.95);
  }
}
@keyframes box_enter {
  0% {
    margin-left: -100%;
  }
}
@keyframes box_active {
  100% {
    transform: translateX(-16%);
  }
}
.h_bg {
  height: 100%;
  position: relative;
  overflow: hidden;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 217, 5, 0.85);
  }
  ul:first-of-type {
    position: absolute;
    height: 180%;
    width: 200%;
    overflow: hidden;
    transform: rotate(30deg) translate3d(-40%, 0, 100px);
  }
  ul:nth-of-type(2) {
    position: absolute;
    height: 180%;
    width: 200%;
    overflow: hidden;
    transform: rotate(30deg) translate3d(-40%, 12%, 500px);
  }
  ul:last-of-type {
    position: absolute;
    height: 180%;
    width: 200%;
    overflow: hidden;
    transform: rotate(30deg) translate3d(-40%, 8%, 1000px);
  }
  ul li {
    width: 100%;
    position: relative;
  }

  &.box_enter ul li {
    animation: box_enter .4s both linear;
  }
  &.box_shake ul li {
    animation: box_shake .52s alternate infinite linear;
  }
  ul:first-of-type li:nth-of-type(1) {
    animation-delay: .1s;
    margin-left: -20%;
  }
  &.box_shake ul:first-of-type li:nth-of-type(1) {
    animation: box_shake3 .8s alternate infinite linear;
  }
  &.box_shake ul:first-of-type li:nth-of-type(2) img {
    animation: box_active .4s .3s infinite alternate;
  }
  ul:first-of-type li:nth-of-type(2) {
    animation-delay: .2s;
    margin-left: -30%;
  }
  &.box_shake ul:first-of-type li:nth-of-type(2) {
    animation: box_shake2 .6s alternate infinite linear;
  }
  ul:first-of-type li:nth-of-type(3) {
    animation-delay: .1s;
    margin-left: -22%;
  }
  &.box_shake ul:first-of-type li:nth-of-type(3) {
    animation: box_shake3 .8s alternate infinite linear;
  }
  ul:first-of-type li:nth-of-type(4) {
    animation-delay: .4s;
    margin-left: -6%;
  }
  &.box_shake ul:first-of-type li:nth-of-type(4) {
    animation: box_shake2 .5s alternate infinite linear;
  }
  ul:nth-of-type(2) li:nth-of-type(1) {
    animation-delay: .1s;
    margin-left: -20%;
  }
  &.box_shake ul:nth-of-type(2) li:nth-of-type(1) img {
    animation: box_active .4s infinite alternate;
  }
  ul:nth-of-type(2) li:nth-of-type(2) {
    animation-delay: .2s;
    margin-left: -20%;
  }
  &.box_shake ul:nth-of-type(2) li:nth-of-type(2) img {
    animation: box_active .4s infinite alternate;
  }
  &.box_shake ul:nth-of-type(2) li:nth-of-type(2) {
    animation: box_shake3 .6s alternate infinite linear;
  }
  ul:nth-of-type(2) li:nth-of-type(3) {
    animation-delay: .1s;
    margin-left: -10%;
  }
  ul:nth-of-type(2) li:nth-of-type(4) {
    animation-delay: .4s;
    margin-left: -3%;
  }
  &.box_shake ul:nth-of-type(2) li:nth-of-type(4) {
    animation: box_shake2 .6s alternate infinite linear;
  }
  ul:last-of-type li:nth-of-type(1) {
    animation-delay: .3s;
    margin-left: -30%;
  }
  &.box_shake ul:last-of-type li:nth-of-type(1) {
    animation: box_shake3 .6s alternate infinite linear;
  }
  ul:last-of-type li:nth-of-type(2) {
    margin-left: -25%;
  }
  &.box_shake ul:last-of-type li:nth-of-type(2) img {
    animation: box_active .4s .2s infinite alternate;
  }
  &.box_shake ul:last-of-type li:nth-of-type(2) {
    animation: box_shake2 .52s alternate infinite linear;
  }
  ul:last-of-type li:nth-of-type(3) {
    animation-delay: .1s;
    margin-left: -4%;
  }
  &.box_shake ul:last-of-type li:nth-of-type(3) img {
    animation: box_active .4s .1s infinite alternate;
  }
  ul:last-of-type li:nth-of-type(4) {
    animation-delay: .6s;
    margin-left: -2%;
  }
  &.box_shake ul:last-of-type li:nth-of-type(4) {
    animation: box_shake3 .8s alternate infinite linear;
  }
}
/* 加载页 */
/* 加载页动画效果 */
@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -10rem;
  }
}
@keyframes dot {
  25% {
    box-shadow: none;
  }
  50% {
    box-shadow: 4px 0 currentColor;
  }
  75% {
    box-shadow: 4px 0 currentColor, 12px 0 currentColor;
  }
}
.h_loading {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  overflow: hidden;
  > div {
    height: 2rem;
    flex: 0 0 100%;
    overflow: hidden;
    position: relative;
  }
  > div > div {
    position: relative;
    width: 20rem;
    overflow: hidden;
    animation: marquee 3s linear infinite;
  }
  ul {
    float: left;
    width: 50%;
    height: 100%;
    overflow: hidden;
  }
  ul li {
    float: left;
    width: 2rem;
    padding-bottom: 2rem;
    height: 0;
  }
  ul li:nth-of-type(1) {
    background: url(../image/bird_blue.svg) no-repeat center;
    background-size: 300%;
  }
  ul li:nth-of-type(2) {
    background: url(../image/bird_red.svg) no-repeat center;
    background-size: 300%;
  }
  ul li:nth-of-type(3) {
    background: url(../image/bird_green.svg) no-repeat center;
    background-size: 300%;
  }
  ul li:nth-of-type(4) {
    background: url(../image/bird_orange.svg) no-repeat center;
    background-size: 300%;
  }
  ul li:nth-of-type(5) {
    background: url(../image/bird_purple.svg) no-repeat center;
    background-size: 300%;
  }
  > p {
    height: 20px;
    flex: 0 0 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 200;
    color: #1d1f78;
  }
  .dotting {
    display: inline-block;
    min-width: 2px;
    min-height: 2px;
    box-shadow: 4px 0 currentColor, 12px 0 currentColor, 20px 0 currentColor;
    animation: dot 2s infinite step-start both;
  }
  .loading_text {
    display: block;
    text-align: center;
    font-size: 14px;
    width: 100%;
    line-height: 16px;
    font-weight: 200;
    color: #1d1f78;
    transform: scale(0.8);
  }
}
/* 头部logo */
.h_head {
  position: absolute;
  left: 0;
  top: 0;
  height: 1.4rem;
  width: 4rem;
  overflow: hidden;
  background: url(../image/2018ch.svg) no-repeat center;
  background-size: contain;
}
/* 主体内容部分 */
/* svg通用样式 */
polygon {
  stroke: #5A5D66;
  stroke-width: 1;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.h_container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  overflow: hidden;
  > div {
    height: 100%;
  }
  > div > div {
    position: absolute;
  }
}
@keyframes neonlamp {
  10%, 50%, to {
    background: url(../image/lamp_light.png) no-repeat center;
    background-size: contain;
  }
  25%, 65% {
    background: url(../image/lamp_dark.png) no-repeat center;
    background-size: contain;
  }
}
.page1 {
  [class^="square"] svg {
    float: left;
  }
  .square1 {
    left: -220px;
    top: -60px;
    width: 275px;
    height: 200px;
    animation-delay: .5s;
  }
  .square2 {
    left: 90px;
    top: -10px;
    width: 44px;
    height: 46px;
    animation-delay: .42s;
  }
  .square3 {
    right: 0;
    top: -25px;
    width: 58px;
    height: 68px;
    animation-delay: .4s;
  }
  .square4 {
    left: -40px;
    top: 25%;
    width: 280px;
    height: 180px;
    animation-delay: .2s;
  }
  .square4 > img {
    position: absolute;
    width: 12px;
    height: 40px;
    z-index: 3;
  }
  .square4 > img:first-of-type {
    left: 44px;
    bottom: 90px;
  }
  .square4 > img:nth-of-type(2) {
    right: 80px;
    bottom: 80px;
  }
  .square4 > img:last-of-type {
    right: 140px;
    bottom: 40px;
  }
  .square5 {
    left: 160px;
    top: 39%;
    width: 40px;
    height: 40px;
    animation-delay: .32s;
  }
  .square6 {
    left: -220px;
    top: 39%;
    width: 280px;
    height: 180px;
    animation-delay: .22s;
  }
  .square6 > img {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 12px;
    height: 40px;
  }
  .square7 {
    top: 47%;
    right: 100px;
    width: 80px;
    height: 92px;
    perspective: 100px;
    animation-delay: .12s;
  }
  .square7 > img {
    position: absolute;
  }
  .square7 > img:first-of-type {
    width: 12px;
    height: 40px;
    top: -14px;
    left: 40%;
  }
  .square7 > img:nth-of-type(2) {
    width: 12px;
    height: 40px;
    top: -10px;
    left: 56%;
  }
  .square7 > img:last-of-type {
    width: 40px;
    height: 20px;
    top: -30px;
    left: 54%;
    transform: rotateY(24deg);
  }
  .square8 {
    right: -70px;
    top: 45%;
    width: 146px;
    height: 170px;
  }
  .square8 > img {
    position: absolute;
    width: 12px;
    height: 40px;
  }
  .square8 > img:first-of-type {
    top: 10px;
    left: 25px;
  }
  .square8 > img {
    top: -5px;
    left: 45px;
  }
  .square9 {
    top: 59%;
    left: 0;
    width: 60px;
    height: 68px;
    perspective: 100px;
    animation-delay: .3s;
  }
  .square9 > img {
    position: absolute;
  }
  .square9 > img:first-of-type {
    top: -30px;
    left: 30%;
    width: 20px;
    height: 52px;
  }
  .square9 > img:last-of-type {
    top: -30px;
    left: 80%;
    width: 40px;
    height: 20px;
    transform: rotateY(-45deg);
  }
  /* 对话框 */
  .dialog_box {
    top: 0;
    left: 0;
    width: 100%;
    height: 320px;
  }
  .dialog_box > div:first-of-type {
    position: absolute;
    top: 0;
    left: 0;
    width: 220px;
    height: 320px;
    z-index: 1;
    animation-delay: .45s;
  }

  .dialog_box > div:first-of-type img {
    width: 100%;
    height: 100%;
  }
  .dialog_box > div:last-of-type {
    position: absolute;
    top: 16px;
    right: -50px;
    width: 260px;
    height: 300px;
    z-index: 0;
    animation-delay: .45s;
  }
  .dialog_box > div:last-of-type > img:first-of-type {
    width: 100%;
    height: 100%;
  }
  .dialog_box > div:last-of-type > img:last-of-type {
    position: absolute;
    top: 40px;
    left: 40%;
    width: 40px;
    height: 30px;
    transform: skewY(-20deg);
  }
  @media screen and (max-width: 320px) {
    .dialog_box > div:first-of-type {
      width: 180px;
      height: 280px;
    }
    .dialog_box > div:last-of-type {
      width: 240px;
      height: 260px;
    }
  }
  /* 输入框 */
  .input_box {
    top: 54%;
    left: 0;
    right: 0;
    width: 280px;
    margin: auto;
  }
  .input_box ul {
    width: 240px;
    margin: 0 auto;
    position: relative;
  }
  .input_box ul > li:first-of-type {
    width: 240px;
    height: 180px;
    background: url(../image/draw.svg) no-repeat center;
    background-size: contain;
    position: relative;
    z-index: 1;
  }
  .input_box input {
    vertical-align: top;
    transform-origin: 0;
    transform: translate(7px, 25px) rotateX(-50deg) rotateY(-33deg);
    outline: none;
    border: none;
    background: none;
    height: 60px;
    width: 220px;
    padding: 0 15px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #000;
  }
  .input_box ul > li:nth-of-type(2) {
    width: 360px;
    height: 230px;
    background: url(../image/lamp_dark.png) no-repeat center;
    background-size: contain;
    transform: translate(-90px, -140px);
  }
  .input_box.active ul > li:nth-of-type(2) {
    animation: neonlamp 1.4s .8s forwards;
  }
  .input_box ul > li .go {
    position: absolute;
    bottom: 0;
    right: 20px;
    width: 130px;
    height: 80px;
    z-index: 3;
    transform: rotateX(-50deg) rotateY(-33deg);
    border-radius: 30px;
  }
  .input_box.active ul > li:last-of-type {
    position: absolute;
    top: 160px;
    right: 70px;
    width: 60px;
    height: 60px;
    background: url(../image/mouse.svg) no-repeat center;
    background-size: contain;
  }
}
/* page2 */
.page2 {
  > [class^="square"] svg {
    float: left;
  }
  > [class^="square"] svg ~ img {
    position: absolute;
  }
  .square1 {
    width: 300px;
    height: 160px;
    top: -100px;
    right: 0;
  }
  .square2 {
    width: 100px;
    height: 106px;
    left: -44px;
    animation-delay: .2s;
  }
  .square3 {
    width: 56px;
    height: 63px;
    left: 0;
    right: 0;
    top: 70px;
    margin: auto;
    animation-delay: .4s;
  }
  .square3 img {
    top: -25px;
    left: 0;
    right: 0;
    height: 40px;
    width: 12px;
    margin: auto;
  }
  .square4 {
    width: 40px;
    height: 48px;
    right: 0;
    top: 30px;
    animation-delay: .3s;
  }
  .square4 img {
    bottom: -36px;
    right: 74px;
    height: 40px;
    width: 42px;
  }
  .square5 {
    width: 34px;
    height: 40px;
    top: 120px;
    left: 60px;
    animation-delay: .2s;
  }
  .square5 img:first-of-type {
    top: -25px;
    left: 0;
    right: 0;
    height: 40px;
    width: 12px;
    margin: auto;
  }
  .square5 img:last-of-type {
    top: -45px;
    left: 12px;
    height: 24px;
    width: 40px;
    transform: rotateX(-30deg) rotateY(-34deg);
  }
  .square6 {
    right: 30px;
    top: 120px;
    width: 80px;
    height: 88px;
    animation-delay: .4s;
  }
  .square6 img {
    top: -10px;
    left: 0;
    right: 0;
    height: 40px;
    width: 12px;
    margin: auto;
  }
  .square7 {
    top: 400px;
    left: -30px;
    width: 60px;
    height: 66px;
    animation-delay: .3s;
  }
  .square7 img:first-of-type {
    top: -16px;
    right: 14px;
    height: 40px;
    width: 12px;
  }
  .square7 img:last-of-type {
    top: 66px;
    right: -24px;
    height: 30px;
    width: 30px;
  }
  .square8 {
    width: 28px;
    height: 30px;
    top: 450px;
    left: 61px;
    animation-delay: .3s;
  }
  .square8 img {
    top: -30px;
    right: 0;
    left: 0;
    height: 40px;
    width: 12px;
    margin: auto;
  }
  .square9 {
    width: 40px;
    height: 44px;
    right: 20px;
    top: 430px;
  }
  .square9 img {
    top: -24px;
    right: 0;
    left: 0;
    height: 40px;
    width: 12px;
    margin: auto;
  }
  .square_dialog {
    width: 100%;
    height: 440px;
    top: 130px;
  }
  .square_dialog > div {
    position: absolute;
  }
  .square_dialog > div img {
    width: 100%;
  }
  .square_dialog .dialog_bg {
    width: 360px;
    height: 240px;
    top: 100px;
    right: -20px;
    animation-delay: .2s;
  }
  .square_dialog .dialog_bird {
    width: 280px;
    left: -80px;
    top: -40px;
    height: 300px;
    animation-delay: .6s;
  }

  .square_dialog .dialog_box {
    width: 260px;
    right: 0;
    height: 300px;
    animation-delay: .6s;
  }
  .square_dialog .dialog_box div {
    position: absolute;
    top: 90px;
    left: 122px;
    height: 30px;
    width: 60px;
    font-size: 20px;
    transform: rotateX(-20deg) rotateY(-56deg);
  }
  .square_dialog .dialog_box div span {
    display: inline-block;
  }
  .square_dialog .dialog_neon {
    background: url(../image/lamp_light1.png) no-repeat center;
    background-size: contain;
    height: 126px;
    width: 126px;
    top: 295px;
    right: 150px;
    animation-delay: .2s;
  }
  .square_dialog .dialog_neon .go {
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
    background: url(../image/mouse.svg) no-repeat right bottom;
    background-size: 40px;
  }
  @media screen and (max-width: 320px) {
    .square_dialog .dialog_bg {
      width: 320px;
      height: 240px;
      top: 80px;
      right: -20px;
    }
    .square_dialog .dialog_bird {
      width: 240px;
      left: -60px;
      top: -20px;
    }
    .square_dialog .dialog_box {
      width: 240px;
    }
    .square_dialog .dialog_box div {
      top: 84px;
      left: 114px;
      transform: rotateX(-20deg) rotateY(-54deg);
    }
    .square_dialog .dialog_neon {
      height: 110px;
      width: 110px;
      top: 266px;
      right: 120px;
    }
  }
}
// page3
.page3 {
  .bg {
    width: 100%;
    height: 100%;
    img {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }
  .content {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: .6);
    > div {
      position: absolute;
    }
    .logo {
      width: 100%;
      height: 300px;
      left: 0;
      top: -60px;
    }
    .logo ~ div {
      img {
        width: 100%;
      }
    }
    .dpn {
      width: 36vw;
      bottom: 80vw;
      left: 0;
    }
    .mby {
      width: 36vw;
      bottom: 76vw;
      left: 40vw;
    }
    .wsl {
      width: 36vw;
      right: 0;
      bottom: 70vw;
    }
    .gd {
      width: 30vw;
      bottom: 40vw;
      right: 15vw;
    }
    .chy {
      width: 26vw;
      left: 0;
      bottom: 28vw;
    }
    .begin {
      bottom: 0;
      font-size: 16px;
      color: #fff;
      font-family: 'custFont';
      height: 120px;
      width: 100%;
      p {
        line-height: 120px;
        text-align: center;
      }
    }
  }
}
// page4
.page4 {
  > [class^="square"] svg {
    float: left;
  }
  > [class^="square"] svg ~ img {
    position: absolute;
  }
  .square1 {
    width: 300px;
    height: 160px;
    top: -100px;
    right: 0;
  }
  .square2 {
    width: 100px;
    height: 106px;
    left: -44px;
    animation-delay: .2s;
  }
  .square3 {
    width: 56px;
    height: 63px;
    left: 0;
    right: 0;
    top: 70px;
    margin: auto;
    animation-delay: .4s;
  }
  .square3 img {
    top: -25px;
    left: 0;
    right: 0;
    height: 40px;
    width: 12px;
    margin: auto;
  }
  .square4 {
    width: 40px;
    height: 48px;
    right: 0;
    top: 30px;
    animation-delay: .3s;
  }
  .square5 {
    width: 34px;
    height: 40px;
    top: 120px;
    left: 60px;
    animation-delay: .2s;
  }
  .square5 img:first-of-type {
    top: -25px;
    left: 0;
    right: 0;
    height: 40px;
    width: 12px;
    margin: auto;
  }
  .square5 img:last-of-type {
    top: -45px;
    left: 12px;
    height: 24px;
    width: 40px;
    transform: rotateX(-30deg) rotateY(-34deg);
  }
  .square6 {
    right: 30px;
    top: 120px;
    width: 80px;
    height: 88px;
    animation-delay: .4s;
  }
  .square6 img {
    top: -10px;
    left: 0;
    right: 0;
    height: 40px;
    width: 12px;
    margin: auto;
  }
  .square7 {
    top: 400px;
    left: -30px;
    width: 60px;
    height: 66px;
    animation-delay: .3s;
  }
  .square8 {
    width: 28px;
    height: 30px;
    top: 450px;
    left: 61px;
    animation-delay: .3s;
  }
  .square9 {
    width: 40px;
    height: 44px;
    right: 20px;
    top: 430px;
  }
  .square9 img {
    top: -24px;
    right: 0;
    left: 0;
    height: 40px;
    width: 12px;
    margin: auto;
  }
  .square_dialog {
    width: 100%;
    height: 440px;
    top: 110px;
    > div {
      position: absolute;
      img {
        width: 100%;
      }
    }
  }
  .square_dialog .dialog_bg {
    width: 460px;
    height: 280px;
    top: 100px;
    left: -80px;
    animation-delay: .2s;
  }
  .square_dialog .dialog_bird {
    width: 200px;
    right: -20px;
    top: 80px;
    height: 300px;
    animation-delay: .6s;
  }

  .square_dialog .dialog_box {
    width: 230px;
    left: 0;
    height: 340;
    animation-delay: .6s;
      div {
      position: absolute;
      top: 105px;
      left: 105px;
      height: 30px;
      width: 60px;
      font-size: 20px;
      transform: rotateX(-22deg) rotateY(62deg);
      span {
        display: inline-block;
      }
    }
  }
  .square_dialog .dialog_neon {
    height: 100px;
    width: 100px;
    top: 326px;
    left: 150px;
    animation-delay: .2s;
  }
  .square_dialog .dialog_neon .go {
    position: absolute;
    right: -10px;
    top: 20px;
    height: 100%;
    width: 100%;
    background: url(../image/mouse.svg) no-repeat right bottom;
    background-size: 40px;
  }
  @media screen and (max-width: 320px) {
    .square_dialog .dialog_bg {
      width: 420px;
      height: 240px;
      top: 80px;
      left: -80px;
    }
    .square_dialog .dialog_bird {
      width: 160px;
      right: -20px;
      top: 60px;
    }
    .square_dialog .dialog_box {
      width: 200px;
    }
    .square_dialog .dialog_box div {
      top: 84px;
      left: 90px;
      transform: rotateX(-22deg) rotateY(62deg);
    }
    .square_dialog .dialog_neon {
      height: 100px;
      width: 90px;
      top: 276px;
      left: 130px;
    }
  }
}
.page5 {
}
.page6 {
  [class^="square"] {
    svg {
      float: left;
    }
  }
  .square1 {
    width: rem(40);
    height: rem(40);
    left: rem(-10);
    top: rem(15);
    animation-delay: 0.2s;
  }
  .square2 {
    width: rem(20);
    height: rem(20);
    left: rem(60);
    top: rem(5);
    animation-delay: 0.3s;
  }
  .square3 {
    width: rem(40);
    height: rem(40);
    right: 0;
    top: rem(10);
  }
  .square4 {
    width: rem(30);
    height: rem(30);
    left: rem(-15);
    top: rem(240);
    animation-delay: 0.2s;
  }
  .square5 {
    width: rem(30);
    height: rem(30);
    right: rem(-15);
    top: rem(240);
  }
  .square6 {
    width: rem(36);
    height: rem(36);
    right: rem(-15);
    top: rem(460);
    animation-delay: 0.2s;
    img {
      position: absolute;
      left: rem(-40);
      width: rem(30);
      height: rem(30);
      top: rem(10);
    }
  }
  .square_box {
    width: 100%;
    height: 100%;
    animation-delay: 0.3s;
    > div {
      position: absolute;
    }
    .square_bg {
      top: rem(260);
      left: 50%;
      transform: translateX(-50%);
      width: rem(580);
      height: rem(290);
    }
    .take_gift {
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      > div {
        position: absolute;
      }
      [class^="box"] {
        img {
          width: 100%;
          height: 100%;
        }
      }
      .box_bg {
        width: rem(500);
        top: rem(30);
        left: 46%;
        transform: translateX(-50%);
      }
      .box1 {
        width: rem(110);
        top: rem(40);
        left: rem(60);
      }
      .box2 {
        width: rem(110);
        top: rem(180);
        left: rem(80);
      }
      .box3 {
        width: rem(110);
        right: rem(30);
        top: rem(140);
      }
      .mouse {
        top: rem(380);
        right: rem(60);
        width: rem(40);
        .next {
          position: absolute;
          width: rem(140);
          height: rem(80);
          top: 0;
          left: rem(-90);
          transform: rotateX(40deg) rotateY(-50deg);
        }
      }
    }
    .make {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      > div {
        position: absolute;
      }
      [class^="box"] {
        img {
          width: 100%;
          height: 100%;
        }
      }
      .box_bg {
        width: rem(500);
        top: rem(30);
        left: 46%;
        transform: translateX(-50%);
        span {
          position: absolute;
          width: rem(140);
          height: rem(80);
          bottom: rem(50);
          left: rem(130);
          transform: rotateX(30deg) rotateY(45deg);
        }
      }
      .box_bird {
        width: rem(160);
        left: rem(-30);
        top: rem(80);
      }
      .box_text {
        width: rem(270);
        right: 0;
        top: rem(30);
        p {
          position: absolute;
          font-size: rem(20);
          top: rem(80);
          left: rem(98);
          // transform: rotateX(-30deg) rotateY(-40deg);
          span {
            display: inline-block;
            transform: rotateX(-30deg) rotateY(-40deg);
          }
        }
      }
    }
    .person_bg {
      width: 100%;
      top: rem(550);
      > img {
        width: rem(12);
        height: rem(38);
        position: absolute;
      }
      > img:nth-of-type(1) {
        bottom: rem(120);
        left: rem(40);
      }
      > img:nth-of-type(2) {
        bottom: rem(40);
        left: rem(200);
      }
      > img:nth-of-type(3) {
        bottom: rem(160);
        left: rem(30);
      }
      > img:nth-of-type(4) {
        bottom: rem(150);
        right: rem(30);
      }
      > img:nth-of-type(5) {
        bottom: rem(170);
        right: rem(60);
      }
    }
  }
}
.page7 {
}
.page8 {
  [class^="square"] > svg {
    float: left;
  }
  [class^="square"] > img {
    position: absolute;
  }
  .square1 {
    top: 0;
    left: 50%;
    margin-left: rem(-150);
    margin-top: rem(-120);
    width: rem(300);
    height: rem(220);
  }
  .square2 {
    top: 0;
    left: rem(-40);
    width: rem(80);
    height: rem(80);
  }
  .square3 {
    top: 0;
    right: rem(-20);
    width: rem(40);
    height: rem(44);
  }
  .square4 {
    top: rem(60);
    left: rem(60);
    width: rem(34);
    height: rem(34);
    img {
      top: rem(-28);
      left: 50%;
      transform: translateX(-50%);
      width: rem(12);
      height: rem(40);
    }
  }
  .square5 {
    top: rem(100);
    left: rem(10);
    width: rem(70);
    height: rem(70);
    img {
      top: rem(-20);
      left: 50%;
      transform: translateX(-50%);
      width: rem(12);
      height: rem(40);
    }
  }
  .square6 {
    top: rem(400);
    right: rem(50);
    width: rem(44);
    height: rem(44);
    img {
      top: 0;
      left: 36%;
      transform: translateX(-50%);
      width: rem(38);
      height: rem(36);
    }
  }
  .square7 {
    top: rem(490);
    left: 50%;
    margin-left: rem(-30);
    width: rem(60);
    height: rem(60);
  }
  .square8 {
    top: rem(420);
    right: rem(-30);
    width: rem(60);
    height: rem(60);
  }
  .dialog_box {
    top: 0;
    left: 0;
    height: 0;
    right: 0;
    > div {
      position: absolute;
    }
    .bg {
      top: rem(220);
      left: rem(-100);
      width: rem(380);
      height: rem(300);
    }
    .text {
      width: rem(250);
      top: rem(100);
      img {
        width: 100%;
      }
      p {
        position: absolute;
        top: rem(94);
        left: rem(114);
        font-size: rem(20);
        span {
          display: inline-block;
          transform: rotateX(30deg) rotateY(-54deg);
        }
      }
      p ~ img {
        position: absolute;
        width: rem(12);
        height: rem(38);
      }
      > img:nth-of-type(2) {
        bottom: rem(120);
        right: rem(50);
      }
      > img:last-of-type {
        bottom: rem(60);
        right: rem(120);
      }
    }
    .bird {
      width: rem(160);
      right: rem(-20);
      top: rem(220);
      img {
        width: 100%;
      }
    }
  }
}
/* 底部logo */
.h_foot {
  position: absolute;
  bottom: 0;
  left: 0;
  height: rem(120);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  z-index: 1;
  > span {
    height: 100%;
    flex: 0 0 rem(120);
  }
}
